* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}
body {
  position: relative;
  background-color: azure;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  position: absolute;
  top: 0;
  display: flex;
  gap: 1rem;
  background-color: black;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}
header a {
  text-decoration: none;
  font-size: 22px;
  color: aqua;
}
.container {
  background-color: white;
  position: relative;
}
.quote {
  max-width: 600px;
  padding: 2rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 28px;
}
.buttons {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.btn {
  padding: 1rem 2.5rem;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.btn-generate {
  background-color: black;
}
.btn-copy {
  color: black;
  background-color: #ccc;
}
svg {
  width: 40px;
  height: 40px;
}
.notification {
  position: absolute;
  top: 3%;
  right: -100%;
  background-color: white;
  padding: 1.5rem 3rem;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border-left: 10px solid blueviolet;
  transition: all 0.5s ease;
}

.showNotification {
  right: 10%;
}
.btn-tweet {
  color: blue;
  text-decoration: none;
}
.verse {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.scripture {
  position: absolute;
  right: 2%;
  top: 40%;
  font-weight: bold;
}